@import "tailwindcss";

/* =========================
   Design Tokens (Tailwind v4)
   ========================= */

:root {
  /* Colors */
  --color-dark: #1b1b1b;
  --color-light: #f5f5f5;
  --color-primary: #B63E96;
  --color-primary-dark: #58E6D9;

  /* Fonts */
  --font-mont: var(--font-montserrat);
}
